<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
	<title>회원목록</title>
</th:block>
<th:block layout:fragment="customContents">
		<h1>memberList</h1>
	 <table border="1px">
	 	<tr>
	 		<td>아이디</td>
	 		<td>비밀번호</td>
	 		<td>권한</td>
	 		<td>이름</td>
	 		<td>이메일</td>
	 	</tr>
	 	<tr th:each="l:${memberList}"}>
	 		<td th:text="${l.memberId}"></td>
	 		<td th:text="${l.memberPw}"></td>
	 		<td th:text="${l.memberLevel}"></td>
	 		<td th:text="${l.memberName}"></td>
	 		<td th:text="${l.memberEmail}"></td>
	 	</tr>
	 </table>
	 
	
</th:block>
</html>